*{margin:0;border:0;padding:0;}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #3C3A3A;
    overflow: hidden;
}
.card_box_{}
.hr{border: 0.5px solid #3C3A3A; width: 90%; margin: 30px auto 20px auto;}
.text_banner{
    font-weight: 800;
    font-family: Helvetica;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header{
    width: 100%;
    height: 250px;
    background-color:#1A67EF;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-top: 50px;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

/* INFORS */
.infor_container{display: flex;width: 90%;margin: auto;justify-content: center;}
.infor_left{background-color:rgb(32, 32, 36);text-align: center;border-radius: 7px;padding: 30px;color:white}
.infor_left p{color: #D7D7D7;}
.infor_right{background-color:rgb(32, 32, 36);color: white;border-radius: 7px;padding: 40px;}
.infor_right{background-color:rgb(32, 32, 36);color: white;}
.infor_right p{color: #D7D7D7;}
.infor_avatar{  width: 160px;height: 160px;margin: 10px auto 15px auto;}
.infor_avatar img {border-radius: 50%;width: 100%;}
.infor_icons a{color:white;font-size: 3.4ch;text-decoration: none;transition: all 0.3s linear;margin-left: 10px;}
.infor_icons a:hover{color:#D7D7D7;}

@media(min-width:200px){
    .infor_container{flex-direction: column;}
    .infor_left{width: 100%;margin: 15px auto 15px auto;}
    .infor_right{width: 100%;margin: 0px auto 15px auto;}
    .infor_right p{text-align: justify;}
    .header{justify-content: center;}
    .text_banner{font-size: 50px;text-align: center;}
    .header{text-align: center;font-size: 3ch;}
}
@media(min-width:600px){
    .text_banner{font-size: 80px;text-align: center;}
    
}
@media(min-width:940px){
    .infor_container{flex-direction: row;}
    .infor_left{width: 60ch;margin: -50px 50px 0px 0px;}
    .infor_right{margin: 50px 0px 0px 0px;}
    .header{justify-content: flex-end;}
    .text_banner{font-size: 100px;text-align: start;margin-left: 30px;}
    .header{padding-right: 10%;font-size: 5ch;}
    .infor_right p{text-align: start;}
}
.single_service{
    color: white;
}
.icon{
    width: 70px;
    margin-bottom: 15px;
}
.load{
    opacity: 1;
    visibility: visible;
    transition: all .3s linear;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load h1{
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.contact_container{
    
}